* {
    margin: 0;
    padding: 0;
}

.header {
    background-image: linear-gradient(rgba(125, 134, 128, 0.377), #000), url(img/mountains.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 70vh;
}

.contact {
    background-color: #0C0B08;
    height: 100vh;
    color: #7D756B;    
}

.logo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #7D756B;
    width: 27vh;
    margin: 40vh 20vh;
    position: absolute;
    border-bottom: solid;
    border-width: 1vh;
}

.logo h1 {
    font-size: 10vh;
    text-align: center;
}

.menu {
    margin-top: 5vh;
    margin-right: 20vh;
    position: relative;
    float: right;
    display: grid;
    grid-template-columns: auto auto auto;
}

.menu li {
    display: grid;
    grid-column: auto;
    list-style: none;
    float: left;
    padding: 0 3vh;
    font-size: 4vh;
    border: solid;
    margin: 0 3vh;
    border-radius: 50vh;
    position: relative;
}

.menu li:hover,
.menu li:active {
    color: #7D756B;
    background-color: #000;
    opacity: 0.7;
    border-color: #000;
}

.lake {
    background-image: linear-gradient(rgba(125, 134, 128, 0.377), #000), url(img/lake.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 40vh;
}


.whatIDo {
    color: #7D756B;
    position: absolute;
    margin-left: 21vh;
    margin-top: 56vh;
    font-size: 4vh;
    text-shadow: #000;
    text-shadow: 1px;
}

#terminal {
    display: block;
    margin-top: 10vh;
    margin-left: 30%;
    position: absolute;
    overflow: hidden;
    width: 70vh;
    height: 80vh;
    border: solid;
    border-radius: 14%;
}

#phoneScreen {
    width: 100%;
    display: block;
    height: 55vh;
    font-size: 10vh;
    text-align: center;
}

#terminal img {
    width: 100%;
    opacity: 0.3;
    border-radius:  14%;
    border-color: #7D756B;
    border: solid;
    border-width: 5px;
}

#contactDetails {
    text-align: center;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    margin-top: 5vh;
}

.miniature {
    display: grid;
    width: 4vh;
    grid-column: 1;
    margin-bottom: 3vh;
    margin: 0 auto;
}

.detail {
    display: grid;
    font-size: 3vh;
    grid-column: 2;
    border-top: solid;
    border-color: #212526;
}

.sidebar {
    display: none;
    position: fixed;
    height: 40vh;
    width: 15vh;
    margin-top: 30vh;
    background-color: #212526;
    opacity: 0.2;
    border-radius: 14%;
    grid-column: 1;
}

#sideMenu {
    display: grid;
    grid-template-rows: 13vh 13vh 13vh;
}

#sideMenu li {
    color: #7D756B;
    list-style: none;
    font-size: 4vh;
    text-align: center;
    margin: 3vh 0;
    font-weight: bold;
}

#sideMenu li:hover,
#sideMenu li:active {
    color: black;
}

#sideHomeBtn {
    display: grid;
    grid-row: 1;
}

#sideContactBtn {
    display: grid;
    grid-row: 2;
}

#sidePortfolioBtn {
    display: grid;
    grid-row: 3;
}

#startBtn {
    background-color: black;
    height: 5vh;
    width: 5vh;
    margin: auto auto;
    display: grid;
    grid-column: 3;
    grid-row: 1;
    border: solid;
    border-color: #7D756B;
    border-width: 5px;
    border-radius: 34%;
    opacity: 0.4;
    padding: 2vh;

}


#startBtnInside {
    border-radius: 20%;
    border: solid;
    border-width: 5px;
}

#startBtnInside:hover,
#startBtnInside:active {
    background-color: #212526;
}

/*//////////PORTFOLIO/////////*/

.portfolio {
    height: 60vh;
    background-color: #212526;
    display: grid;
    grid-template-columns: 30% 30% 30% auto;
    padding-left: 20vh;
}

.skills {
    opacity: 0.6;
    background-color: aliceblue;
    width: 80%;
    height: 80%;
    margin-top: 5vh;
    border-style: intset;
    border-width: 3px;
    border-radius: 4%;
    display: grid;
    grid-template-rows: 12% 25% 25% 25% 13%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.skills:hover,
.skills:active {
    background-color: #212526;
    color: aliceblue;
    opacity: 0.4;
}

.skills h1 {
    margin-top: 4vh;
    text-align: center;
    grid-row: 2;
}

.skills ul {
    grid-row: 3;
    list-style: none;
    text-align: center;
    font-size: 1.8vh;
}

.skills li {
    margin: 1vh;
}

.toPortfolio {
    grid-row: 4;
    background-color: #000;
    opacity: 0.4;
    color: aliceblue;
    width: 100%;
    height: 100%;
}

.toPortfolio a {
    margin: auto;
    font-size: 2.5vh;
    text-decoration: none;
    color: aliceblue;
}

.toPortfolio a:hover,
.toPortfolio a:active {
    color: #000;
}

.toPortfolio:hover,
.toPortfolio:active {
    background-color: aliceblue;
}

.skillsHeader {
    grid-row: 1;
    background-color: #212526;
    opacity: 0.989;
}

.skillsFooter {
    grid-row: 5;
    background-color: #212526;
    opacity: 0.989;
}

.footer {
    background-color: #0C0B08;
    color: aliceblue;
    text-align: right;
    padding: 5vh;
}